
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <ng-content select="[card-body2]"></ng-content>
                        </div>
                        <div class="col-6">
                            <ng-content select="[card-heading]"></ng-content>
                        </div>
                        <div class="col-2">
                            <ng-content select="[card-rating]"></ng-content>
                        </div>
                    </div>
                </div>
            </div>
